div {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	color: #333;
}

.ui-state-default {
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
	font-weight: bold;
	position:relative;
	display: inline-block;
}

.handle {
	cursor: grab;
}

.seat {
	border: 1px solid #000000;	
	height: 130px;
	padding-top: 7px;
}

.seating-plan {
	float: left;
}

.seating-plan .disabled {
	background-color: #ccccc;
}


.ui-sortable {
	display: inline-block;
}

.seat-no {
	font-size: 16px;
}

.teacher-seat {
	margin-top: 10px;
	width: 1000px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.footer {
	page-break-after: always;
}
  
.s-seat-no {
	width: 45px;
	float: left;
}

.disabled .s-seat-no {
	color: #ffffff;
}

.s-acco {
	float: right;
	width: 80px;
	text-align: right;
	padding-right: 7px;	
}


.s-name {
    height: 60px;
    text-align: center;
    padding-top: 10px;
    clear: both;
	display: flex;
	justify-content: center;
	flex-direction: column;    
}

.s-old-student {
	width: 74px;
	float: left;
	text-align: left;
	margin-left: 5px;
	font-size: 12px;	
}

.s-age {
	width: 55px;
	float: right;
	padding-right: 2px;
	font-size: 12px;
}

.s-backrest {
	clear: both;
	height: 3px;
}

.s-backrest-yes {
	background-color: #000000;
}

.s-backrest-yes {
	background-color: #ffffff;
}

.s-teacher {
	background-color: #c6c6c6;
}


.s-teacher {
	background-color: #ffffff;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.drag-img img
{
	width:  20px;
	position:absolute;
	z-index: 2000 !important;
	top: 0;
	left: 0;
}

.helptext
{
	background-color: LightBlue;
}