.main-div {
	margin-top: 20px;
	width: 650px;
}


.table-student-chit {
	float: left;
    font-weight: normal;
    font-size: 11pt;
    color: black;
    font-style: normal;
    font-family: Verdana, Arial;
    text-decoration: none;
    border: 1px solid;
    border-color: gray;
    border-style: solid;
    margin: 0 15px 25px 0;
    width: 197px;
    height: 110px;	
    text-align: center;
    padding-top: 15px;
}

.header-day0 {
	width: 650px;
}


.title {
	font-weight: bold;
	font-size: 11pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	text-decoration: underline;
	margin-bottom: 5px;
}

.title-head {
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: none;
}

.title-info {
	text-align: center;
	width: 650px;
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 10px;
}



.footer {
	page-break-after: always;
}
