td.details-control {
    background: url('/sites/all/modules/dh_manageapp/imgs/details_open.png') no-repeat center center;
    cursor: pointer;
}
 
tr.shown td.details-control {
    background: url('/sites/all/modules/dh_manageapp/imgs/details_close.png') no-repeat center center;
}
 
div.slider {
    display: none;
}
 
table.dataTable tbody td.no-padding {
    padding: 0;
}

.clear {
	clear: both;
}
