div.teachers-title {
	font-weight: normal;
	font-size: 8pt;
	text-transform: uppercase;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	text-decoration: none;
	border-width: 1px;
	border-bottom-style: dashed;
	border-color: gray;
	background-color: white;
	margin-bottom: 10px;
	width: 700px;
}

table.table-teacher-list {
	width: 1015px;
	table-layout:fixed;
}

table.table-manager-list {
	width: 900px;
	table-layout:fixed;
	word-wrap:break-word;
}

.header-teacher {
	width: 1015px;
}

.header-manager {
	width: 700px;
}

table.table-teacher-list tr th:nth-child(1) { width: 3%; }
table.table-teacher-list tr th:nth-child(2) { width: 10%; }
table.table-teacher-list tr th:nth-child(3) { width: 6%; }
table.table-teacher-list tr th:nth-child(4) { width: 3%; }
table.table-teacher-list tr th:nth-child(5) { width: 9%; }
table.table-teacher-list tr th:nth-child(6) { width: 3%; }
table.table-teacher-list tr th:nth-child(7) { width: 3%; }
table.table-teacher-list tr th:nth-child(8) { width: 3%; }
table.table-teacher-list tr th:nth-child(9) { width: 3%; }
table.table-teacher-list tr th:nth-child(10) { width: 3%; }
table.table-teacher-list tr th:nth-child(11) { width: 3%; }
table.table-teacher-list tr th:nth-child(12) { width: 3%; }
table.table-teacher-list tr th:nth-child(13) { width: 3%; }
table.table-teacher-list tr th:nth-child(14) { width: 3%; }
table.table-teacher-list tr th:nth-child(15) { width: 5%; }
table.table-teacher-list tr th:nth-child(16) { width: 8%; }
table.table-teacher-list tr th:nth-child(17) { width: 7%; }
table.table-teacher-list tr th:nth-child(18) { width: 8%; }
table.table-teacher-list tr th:nth-child(19) { width: 16%; }


table.table-teacher-list th {
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: none;
	text-align: left;
	word-wrap:break-word;
	vertical-align: top;
}

table.table-teacher-list td {
	font-weight: normal;
	font-size: 8pt;
	text-transform: uppercase;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	text-decoration: none;
	border-width: 1px;
	border-bottom-style: dashed;
	border-color: gray;
	background-color: white;
	padding: 6px;
	word-wrap:break-word;
	text-align: left;
	vertical-align: top;
}


table.table-manager-list tr th:nth-child(1) { width: 35px; }
table.table-manager-list tr th:nth-child(2) { width: 190px; }
table.table-manager-list tr th:nth-child(3) { width: 40px; }
table.table-manager-list tr th:nth-child(4) { width: 60px; }
table.table-manager-list tr th:nth-child(5) { width: 140px; }
table.table-manager-list tr th:nth-child(6) { width: 100px; }
table.table-manager-list tr th:nth-child(7) { width: 50px; }
table.table-manager-list tr th:nth-child(8) { width: 30px; }


table.table-manager-list th {
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: none;
	text-align: left;
	vertical-align: top;
}

table.table-manager-list td {
	font-weight: normal;
	font-size: 8pt;
	text-transform: uppercase;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	text-decoration: none;
	text-align: left;
	vertical-align: top;

}

.title {
	font-weight: bold;
	font-size: 11pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	text-decoration: underline;
	margin-bottom: 5px;
}

.title-head {
	font-weight: bold;
	font-size: 8pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: none;
}

.title-info {
	font-weight: bold;
	font-size: 11pt;
	text-transform: capitalize;
	color: black;
	font-style: normal;
	font-family: Verdana, Arial;
	font-variant: normal;
	text-decoration: underline;
}



#footer {
	page-break-after: always;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
